@import '../helpers/variables';

.cover-image{
    width: 100%;
    height: 100vh;
    border: 30px solid $white;
    position: relative;
    overflow: hidden;
    font-size: 52px;
    color: $black;
    .image-container{
        position: absolute;
        top: 0;
        left: 50%;
    }
    img{
        display: block; 
        object-fit: cover;
        object-position: center center;
        transform: translateX(-50%);
    }
}