@import '../helpers/variables';
@import '../mixins/display-flex';

    .cover-image{
        width: 100%;
        border: 30px solid $white;
        position: relative;
        overflow: hidden;
    }

