@import '../helpers/variables';
@import '../mixins/responsive';

.header {
    width: 100%;
    justify-content: space-between;
    padding: 15px 100px;
    position: absolute;
    z-index: 10;
    display: flex;
    @include tablet-land {
        padding: 2vw 5vw;
    }
    .logo,
    .nav-item {
        font-weight: bold;
        color: $black;
        font: 28px/28px $primary-font-bold;
        cursor: pointer;
        text-transform: uppercase;
        @include tablet-land {
            font-size: 3.5vw;
        }
        @include smartphone-land {
            font-size: 5vw;
        }
    }

    .logo{
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }
    .logo-subtitle {
        font: 10px $primary-font-regular;
        letter-spacing: 10px; 
        margin-left: 15px;   
        text-align: center;
        @include tablet-land {
            font-size: .9vw;
            line-height: .9vw;
            letter-spacing: 1.5vw; 
            margin-left: 1.5vw;   
        }
        @include smartphone-land {
            font-size: 1.5vw;
            line-height: 1.5vw;
            letter-spacing: 2vw; 
            margin-left: 2vw;   
        }
    }

    .nav {
        margin-left: auto;
    }
    .nav-item {
        text-decoration: none;
        position: relative;
    }
}

.about-page-open {
    .header {
        .logo {
           display: none; 
        }
    }
}