@import '../helpers/variables';
@import '../mixins/display-flex';
@import '../mixins/display-flex';
@import '../mixins/responsive';

.work-description {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    @include tablet-port {
        flex-direction: column;
    }
    .work-description-info {
        flex-shrink: 0;
        max-width: 19%;
        margin: 10px 80px 0 0;
        @include tablet-port {
            margin: 0 0 20px 0;
            max-width: 100%;
        }
    }
    .work-description-info-item {
        text-transform: uppercase;
        font-family: $primary-font-light;
        &:not(:first-child) {
            margin-top: 10px;
        }
        .item-label {
            font-family: $primary-font-bold;
        }

    }
    .work-description-text {
        flex-grow: 1;
        @include tablet-port {
            width: 100%;
        }
        p {
            margin: 0;
            font-size: 18px;
            line-height: 32px;
        }
    }
}