@import '../helpers/variables';
@import '../mixins/display-flex';
@import '../mixins/display-flex';
@import '../mixins/responsive';

#home {
    display: flex;
    align-items: center;
    width: 100%;
    .cover-image{
        height: 100vh;
        .image-container{
            position: absolute;
            top: 0;
            left: 50%;
        }
        img{
            display: block;
            object-fit: cover;
            object-position: center center;
            transform: translateX(-50%);
        }
    }

    .stuff-link {
        position: absolute;
        right: 20px;
        font: 1vw $primary-font-bold;
        bottom: 20px;
        text-transform: uppercase;
        color: $black;
        text-decoration: none;
        @include tablet-land {
            font-size: 2vw;
        }
    }
}