@import '../helpers/variables';
@import '../mixins/display-flex';
@import '../mixins/display-flex';
@import '../mixins/responsive';

#work {
    position: absolute;
    top: 0;
    z-index: 2;
    background: $white;
    width: 100%;
    display: flex;
    flex-direction: column;

    .image-container {
        width: 100%;
    }
}